# VSCode settings
.vscode/
*.code-workspace

# Build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.exe
*.obj
*.pdb
*.log
*.ilk
*.out
*.o
*.a
*.lib
*.so
*.dll

# Mac / Linux files
*.swp
.DS_Store
*.swo

# Backup files
*~
*.bak

# Generated documentation
/docs/html/
*.doxygen

# Other temp files
*.tmp
